In [1]:
import numpy as np
import pandas as pd
import seaborn as sn
import statsmodels.api as sm
import matplotlib.pyplot as plt
from sklearn.metrics import confusion_matrix
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression  
from sklearn.model_selection import train_test_split

# Create the data frame from the excel sheet
df = pd.read_excel('Grade.xlsx')
df.head()

   HW  Midterm  Final Pass/Fail
0  80       72     62         f
1  63       77     67         f
2  77       83     68         f
3  91       73     78         f
4  92       86     70         f

In [2]:
# Set variables we want to use for our classifier
x = df[['Midterm', 'Final']]
y = df['Pass/Fail']

# print(model.summary())
df['Pass/Fail'].value_counts()

p    18
f     9
Name: Pass/Fail, dtype: int64

In [3]:
# Split the train and test data
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 0)

# Scale the data to ensure optimal fitting
s_train = StandardScaler()
x_train = s_train.fit_transform(x_train)

s_test = StandardScaler()
x_test = s_test.fit_transform(x_test)

# Creating a Logistic Regression model  
model = LogisticRegression(random_state = 0)
  
# Fitting the dataset to the logistic regression model  
model.fit(x_train, y_train)

LogisticRegression(random_state=0)

In [4]:
# Make predictions from model
predictions = model.predict(x_test)

In [5]:
# Make the confusion matrix
cm = confusion_matrix(y_test, predictions)

TN, FP, FN, TP = confusion_matrix(y_test, predictions).ravel()

print('True Positive: ', TP)
print('True Negative: ', TN)
print('False Positive: ', FP)
print('False Negative: ', FN)

True Positive:  4
True Negative:  2
False Positive:  0
False Negative:  0

In [6]:
# Determining the accuracy by calculating it
accuracy =  (TP + TN) / (TP + FP + TN + FN)

print('Accuracy: {}'.format(accuracy))

Accuracy: 1.0

### You have the following 18 transactions from a supermarket. Suppose that the minimum support is 4 (count). Using the Apriori algorithm, find all frequent item sets. Show your work step by step.

In [7]:
# We want to find the frequent item sets so by counting every letter / letter collection and storing the index, we could
# count the number of unique instances those indeces occur

# Example: a & c are found simultaneously on index 7 but also found on index 14, 17, and 18. We can do this for all other
# combinations as well

data = {'ac': [7, 14, 17, 18],
 'ad': [1, 7, 14, 18],
 'cd': [2, 7, 14, 18],
 'ce': [2, 5, 9, 11],
 'cf': [3, 13, 14, 17],
 'dc': [2, 7, 14, 18],
 'ec': [2, 5, 9, 11],
 'fc': [3, 13, 14, 17]}

# Convert the data into a pandas data frame
df = pd.DataFrame(data)

# Transpose the dataframe for dropping duplicates
df = df.T

# Drop any columns that are duplicate
df = df.drop_duplicates()
df

# This shows that there are only unique instances of values with a minimum support of 4(count)

    0   1   2   3
ac  7  14  17  18
ad  1   7  14  18
cd  2   7  14  18
ce  2   5   9  11
cf  3  13  14  17